/* Variables */

:root {
  --primary-color: #434455;
  --secondary-color: #ffffff;
  --button-color: #4d5ae5;
  --hover-color: #404bbf;
  --bg-color: #f4f4fd;
  --bg-color-btn-portfolio: #e7e9fc;
  --bg-color-btn-portfolio-hover: #404bbf;
  --portfolio-title-color: #2e2f42;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}

ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

img {
  display: block;
}

/* Body */
body {
  font-family: 'Roboto', sans-serif;
  font-weight: 400;
  font-style: normal;
  color: var(--primary-color);
}

.header-nav {
  display: flex;
  align-items: center;
  /* justify-content: space-around; */
}
/* Logo */

.logo {
  padding-top: 15px;
  padding-bottom: 15px;
  margin-left: 40px;

  font-family: 'Raleway', sans-serif;
  font-weight: 800;
  text-decoration: none;
  color: inherit;
  font-size: 18px;
  line-height: 1.15;
}

.logo-span {
  color: var(--hover-color);
}

/* Navigation */

.nav-list {
  display: flex;
  /* list-style: none; */
  margin-left: 70px;
}

/* .nav-item {
  outline: 1px solid red;
  margin-right: 40px;
  background-color: aqua;
} */

/* .nav-item:last-child {
  margin-right: 0;
} */

.nav-item + .nav-item {
  margin-left: 40px;
}

/* .nav-item:not(:last-child) {
  margin-right: 0;
} */

.nav-link {
  display: block;
  padding-top: 15px;
  padding-bottom: 15px;

  text-decoration: none;
  color: inherit;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
}

.nav-link:hover,
.nav-link:focus {
  color: var(--hover-color);
}

/* Address */
.address {
  display: flex;
  width: 100%;
}

.address-list {
  display: flex;
  /* padding-left: 0; */
  margin-left: auto;
  /* list-style: none; */
}

/* .address-item {
  background-color: aquamarine;
  outline: 1px solid tomato;
} */

.address-item {
  margin-left: auto;
}

.address-item + .address-item {
  margin-left: 40px;
}

.address-link {
  display: block;
  padding-top: 15px;
  padding-bottom: 15px;

  text-decoration: none;
  color: inherit;
  font-size: 16px;
  line-height: 1.5;
}

.address-link:hover {
  color: var(--hover-color);
}

/* Hero */

.hero {
  text-align: center;
  background-color: var(--portfolio-title-color);
  height: 300px;
  padding-top: 60px;
}

.hero-title {
  font-weight: 700;
  font-size: 56px;
  line-height: 1.1;

  margin-bottom: 40px;

  color: var(--secondary-color);
}

.hero-btn {
  background-color: var(--button-color);
  color: var(--secondary-color);
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  cursor: pointer;
  min-width: 130px;
  padding: 11px 34px;
}

.hero-btn:hover,
.hero-btn:focus {
  background-color: var(--secondary-color);
  color: var(--button-color);
}

/* Goals */

.goals-list {
  display: flex;
  flex-wrap: wrap;

  background-color: aquamarine;
}

.goals-item {
  background-color: blueviolet;
  width: 25%;
}

.goals-title {
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
}

.goals-text {
  font-size: 16px;
  line-height: 1.5;
}

.doing ul {
  list-style: none;
}

.doing-title {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.1;
}

/* Team */

.team ul {
  list-style: none;
  background-color: var(--bg-color);
}

.team-title {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.1;
}

.team-subtitle {
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
}

.team-text {
  font-size: 16px;
  line-height: 1.5;
}

/* Portfolio Buttons */

.btn-list {
  list-style: none;
}

.btn-item {
  background-color: var(--bg-color-btn-portfolio);
  color: var(--button-color);
  cursor: pointer;
}

.btn-item:hover,
.btn-item:focus {
  background-color: var(--bg-color-btn-portfolio-hover);
  color: var(--secondary-color);
}

/* Cards */

.cards-link {
  text-decoration: none;
  color: inherit;
}

.cards-list {
  list-style: none;
}

.cards-title {
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  color: var(--portfolio-title-color);
}

.cards-text {
  font-size: 16px;
  line-height: 1.2;
  color: var(--primary-color);
}

/* Footer */

.footer-text {
  font-size: 16px;
  line-height: 1.5;
}
