/* Variables */

:root {
  --primary-color: #434455;
  --secondary-color: #ffffff;
  --button-color: #4d5ae5;
  --hover-color: #404bbf;
  --bcg-color: #f4f4fd;
  --bcg-color-btn-portfolio: #e7e9fc;
  --bcg-color-btn-portfolio-hover: #404bbf;
  --portfolio-title-color: #2e2f42;
}

/* Body */
body {
  font-family: 'Roboto', sans-serif;
  font-weight: 400;
  font-style: normal;
  color: var(--primary-color);
}

/* Logo */

.logo {
  font-family: 'Raleway', sans-serif;
  font-weight: 800;
  text-decoration: none;
  color: inherit;
  font-size: 18px;
  line-height: 1.15;
}

.logo-span {
  color: var(--hover-color);
}

/* Navigation */

.nav a {
  text-decoration: none;
  color: inherit;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
}

.nav ul {
  list-style: none;
}

.nav-link:hover,
.nav-link:focus {
  color: var(--hover-color);
}

/* Address */

.address a {
  text-decoration: none;
  color: inherit;
  font-size: 16px;
  line-height: 1.5;
}

.address a:hover {
  color: var(--hover-color);
}

.address ul {
  list-style: none;
}

/* Hero */

.hero-btn {
  background-color: var(--button-color);
  color: var(--secondary-color);
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  cursor: pointer;
}

.hero-btn:hover,
.hero-btn:focus {
  background-color: var(--secondary-color);
  color: var(--button-color);
}

.hero {
  font-weight: 700;
  font-size: 56px;
  line-height: 1.1;
}

/* Goals */

.goals {
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
}

.goals-text {
  font-size: 16px;
  line-height: 1.5;
}

.doing ul {
  list-style: none;
}

.doing-title {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.1;
}

/* Team */

.team ul {
  list-style: none;
  background-color: var(--bcg-color);
}

.team-title {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.1;
}

.team-subtitle {
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
}

.team-text {
  font-size: 16px;
  line-height: 1.5;
}

/* Portfolio Buttons */

.btn-list {
  list-style: none;
}

.btn-item {
  background-color: var(--bcg-color-btn-portfolio);
  color: var(--button-color);
  cursor: pointer;
}

.btn-item:hover,
.btn-item:focus {
  background-color: var(--bcg-color-btn-portfolio-hover);
  color: var(--secondary-color);
}

/* Cards */

.cards-link {
  text-decoration: none;
  color: inherit;
}

.cards-list {
  list-style: none;
}

.cards-title {
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  color: var(--portfolio-title-color);
}

.cards-text {
  font-size: 16px;
  line-height: 1.2;
  color: var(--primary-color);
}

/* Footer */

.footer-text {
  font-size: 16px;
  line-height: 1.5;
}
